{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  {{ $pages := .RegularPages.ByDate.Reverse }}
  {{ $paginator := .Paginate $pages }}
  <section class="container list">
    <header>
      <h1 class="title">
        <a class="title-link" href="{{ .Permalink | safeURL }}">
          {{ title (i18n (lower .Title)) | default .Title }}
        </a>
      </h1>
    </header>
    {{ .Content }}
    <div class="project-header" style="margin-left: 5em;">
      <span style="display: inline-block; width: 15em;">Date</span>
      <span style="display: inline-block;">Title</span>
    </div>
    <hr style="margin-left: 5em; margin-right: 5em;">
    <ul style="margin-top: 0; padding-top: 0;">
      {{ range $paginator.Pages }}
        {{ .Render "li" }}
      {{ else }}
        <li>No projects yet.</li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" . }}
  </section>
{{ end }}
