// Fonts
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
Helvetica,
"游ゴシック",
"PingFang SC",
STXihei,"华文细黑",
"Microsoft YaHei","微软雅黑",
SimSun,"宋体",
Heiti,"黑体",
sans-serif;
$code-font-family: SFMono-Regular,
Consolas,
Liberation Mono,
Menlo,
monospace;

// Colors
$bg-color: #ffffff !default;
$fg-color: #333333 !default;
$alt-bg-color: #f0f0f0 !default;
$alt-fg-color: #333333 !default;
$darker-alt-bg-color: #b0b0b0 !default;
$link-color: #707070 !default;

// Dark colors
$bg-color-dark: #1a1b26 !default;
$fg-color-dark: #c0caf5 !default;
$alt-bg-color-dark: #24283b !default;
$alt-fg-color-dark: #c0caf5 !default;
$lighter-alt-bg-color-dark: #292e42 !default;
$link-color-dark: #7aa2f7 !default;

// Notice colors
$fg-color-notice-note-icon: #7aa2f7 !default;
$bg-color-notice-note-title: #7aa2f71a !default;
$bg-color-notice-note-content: #24283b1a !default;
$fg-color-notice-tip-icon: #9ece6a !default;
$bg-color-notice-tip-title: #9ece6a1a !default;
$bg-color-notice-tip-content: #7dcfff1a !default;
$fg-color-notice-example-icon: #7dcfff !default;
$bg-color-notice-example-title: #7dcfff1a !default;
$bg-color-notice-example-content: #24283b1a !default;
$fg-color-notice-question-icon: #bb9af7 !default;
$bg-color-notice-question-title: #bb9af71a !default;
$bg-color-notice-question-content: #24283b1a !default;
$fg-color-notice-info-icon: #7aa2f7 !default;
$bg-color-notice-info-title: #7aa2f71a !default;
$bg-color-notice-info-content: #24283b1a !default;
$fg-color-notice-warning-icon: #e0af68 !default;
$bg-color-notice-warning-title: #e0af681a !default;
$bg-color-notice-warning-content: #ff9e641a !default;
$fg-color-notice-error-icon: #f7768e !default;
$bg-color-notice-error-title: #f7768e1a !default;
$bg-color-notice-error-content: #db4b4b1a !default;

// Path to FontAwesome TTF/WOFF files.
$fa-font-path: "../fonts" !default;
